* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
}

body {
  margin: 0;
  height: 100%;
  background-color: var(--violet);
  background-image: url(images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.logo img {
  padding: 20px;
}

.grid-container {
  margin: 20px 0px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.illustration {
  padding: 20px;
  margin: auto 0px;
}

.illustration img {
  max-width: auto;
  margin-top: 40px;
  margin-left: 35px;
}

.item2 {
  margin: auto 0px;
}

.item2 h1,
p {
  text-align: left;
  color: white;
}

.item2 h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 45px;
  word-spacing: normal;
}

.item2 p {
  padding-right: 100px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  margin: 20px 0px;
  font-weight: lighter;
}

button {
  padding: 15px 50px;
  border-radius: 50px;
  background-color: white;
  font-family: "Poppins", sans-serif;
  color: var(--violet);
}

.icons {
  margin-top: -50px;
  display: flex;
  justify-content: flex-end;
  padding: 20px 100px;
}

i {
  border-radius: 60%;
  border: 1px solid white;
  padding: 10px;
}

.fa-brands {
  color: white;
  margin-right: 20px;
}

.attribution {
  text-align: center;
}

@media (max-width: 768px) {
  body {
    background-image: url(images/bg-mobile.svg);
  }

  .logo img {
    max-width: 50%;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 375px;
    justify-content: center;
  }

  .illustration {
    padding: 20px;
    margin: auto 0px;
  }

  .illustration img {
    max-width: 89%;
    margin-top: 3px;
    margin-left: 18px;
  }

  .item2 {
    margin: 0 auto;
  }

  .item2 h1,
  p {
    text-align: center;
    color: white;
  }

  .item2 h1 {
    margin-top: 50px;
    font-size: 25px;
  }

  .item2 p {
    padding: 10px;
  }

  button {
    display: block;
    margin: 0px auto;
    padding: 10px 70px;
  }

  .icons {
    margin-top: 50px;
    justify-content: center;
  }

  .attribution {
    padding: 20px;
  }
}
